<html>
  <head>
    <script type="text/javascript" src="game/bower_components/phaser/build/phaser.min.js"></script>
    <script type="text/javascript" src="game/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="game/bower_components/firebase/firebase.js"></script>
    <script type="text/javascript" src="game/bower_components/angular/angular.min.js"></script>

    <script type="text/javascript"
            src="game/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="game/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <script type="text/javascript" src= game/main_core/timer.js></script>
    <script type="text/javascript" src= game/main_core/resource.js></script>
    <script type="text/javascript" src= game/main_core/map.js></script>
    <script type="text/javascript" src= game/main_core/entity.js></script>
    <script type="text/javascript" src= game/main_core/player.js></script>
    <script type="text/javascript" src= game/main_core/basicActions.js></script>
    <script type="text/javascript" src= game/main_core/magic/arcane.js></script>
    <script type="text/javascript" src= game/main_core/action.js></script>
    <script type="text/javascript" src= game/main_core/input.js></script>
    <script type="text/javascript" src= game/main_core/tools.js></script>
    <script type="text/javascript" src= game/main_core/ai.js></script>
    <script type="text/javascript" src= game/main_core/special.js></script>

    <script type="text/javascript" src= game/main_core/loading.js></script>
    <script type="text/javascript" src= game/main_core/editor.js></script>
    <script type="text/javascript" src= game/main_core/start.js></script>
    <script type="text/javascript" src= game/sub_core/interfaceEditor.js></script>

    <script type="text/javascript" src= game/main_core/editorInterface.js></script>

    <meta charset="UTF-8" />
    <title> Evemore - The Wizard Guide </title>
    <style type="text/css"> body { margin: 0; }
    </style>
  </head>
  <div ng-app="editor" ng-controller="editorCtrl">
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <div ng-include="'views/level_info.html'"></div>
        </div>
        <div class="col-md-8">
          <div id='Evermore_The_Wizard_Guide'></div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <table class="table">
            <thead>
              <tr>
                <th>Select</th>
                <th>Enemy</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="x in loadList | orderBy:name:reverse">
                <td>
                  <button type="button" class="btn btn-primary"
                                        ng-click="lookAtInfo(x)">BaseCreation</button> </td>
                <td> {{x.name}}</td>
                <td> {{x.description}} </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-2">
        </div>
      </div>
  </body>
  </div>
</html>
